@model netcore.Models.Invent.Production

@{
    ViewData["Title"] = "Επεξεργασία";
    Layout = "~/Views/Shared/_AdminlteNetcoreEdit.cshtml";
    ViewData["EntityIcon"] = "fa fa-gift";
    ViewData["EditInfo"] = "Η παραγγελία Παραγωγής (ΠΠΡ) είναι ένα έγγραφο που αποστέλλεται στο εργαστήριο για την παραγωγή των Προϊόντων. Υπάρχουν τρεις καταστάσεις ΠΠΡ: 1. Πρόχειρο (Ανεπιβεβαίωτη ΠΠΡ, δεν είναι έτοιμη για Παραγωγή), 2. Ανοιχτό (Επιβεβαιωμένη ΠΠΡ, έτοιμη για Παραγωγή) και 3. Ολοκληρωμένο (Κλειστή ΠΠΡ, έχουν ήδη παραχθεί τα προϊόντα).";
}

@Html.Partial("_StatusMessage", (string)ViewBag.StatusMessage)
<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ProductionId" />
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="ProductionNumber" class="control-label"></label>
                    <input asp-for="ProductionNumber" class="form-control" />
                    <span asp-validation-for="ProductionNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="ProductionDate" class="control-label"></label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input asp-for="ProductionDate" value="@Model.ProductionDate.ToString("dd/MM/yyyy")" class="form-control pull-right datepicker" lang="el" type="text" />
                    </div>
                    <span asp-validation-for="ProductionDate" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="warehouseId" class="control-label"></label>
                    <select asp-for="warehouseId" class="form-control" asp-items="ViewBag.warehouseId"></select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="ProductionOrderId" class="control-label"></label>
                    <select asp-for="ProductionOrderId" class="form-control" asp-items="ViewBag.ProductionOrderId"></select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="ProductionStatus" class="control-label"></label>
                    <select asp-for="ProductionStatus" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.ProductionStatus>()"></select>
                    <span asp-validation-for="ProductionStatus" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Notes" class="control-label"></label>
                    <textarea asp-for="Notes" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="Notes" class="text-danger"></span>
                </div>
            </div>
        </div>
        </div>
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
