@model EnableAuthenticatorViewModel
@{
    ViewData["Title"] = "Ενεργοποιήστε τον έλεγχο ταυτότητας";
    ViewData.AddActivePage(ManageNavPages.TwoFactorAuthentication);
}

<h4>@ViewData["Title"]</h4>
<div>
    <p>Για να χρησιμοποιήσετε μια εφαρμογή ελέγχου ταυτότητας, ακολουθήστε τα παρακάτω βήματα:</p>
    <ol class="list">
        <li>
            <p>
                Κάντε λήψη μιας εφαρμογής ελέγχου ταυτότητας δύο παραγόντων όπως το Microsoft Authenticator για
                <a href="https://go.microsoft.com/fwlink/?Linkid=825071">Windows Phone</a>,
                <a href="https://go.microsoft.com/fwlink/?Linkid=825072">Android</a> and
                <a href="https://go.microsoft.com/fwlink/?Linkid=825073">iOS</a> ή
                Ο Επαληθευτής Google για
                <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&amp;hl=en">Android</a> και
                <a href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8">iOS</a>.
            </p>
        </li>
        <li>
            <p>Σάρωση του QR Code ή εισαγωγή αυτού του κλειδιού <kbd>@Model.SharedKey</kbd> στην εφαρμογή ελέγχου ταυτότητας δύο παραγόντων. Τα διαστήματα και το περίβλημα δεν έχουν σημασία.</p>
            <div class="alert alert-info">Για να μπορέσετε να δημιουργήσετε κώδικα QR, διαβάστε το <a href="https://go.microsoft.com/fwlink/?Linkid=852423">τεκμηρίωση</a>.</div>
            <div id="qrCode"></div>
            <div id="qrCodeData" data-url="@Model.AuthenticatorUri"></div>
        </li>
        <li>
            <p>
                Αφού σαρώσετε τον κωδικό QR ή εισάγετε το παραπάνω κλειδί, η εφαρμογή σας για τον έλεγχο ταυτότητας δύο παραγόντων θα σας παράσχει
                με έναν μοναδικό κώδικα. Καταχωρίστε τον κωδικό στο πλαίσιο επιβεβαίωσης παρακάτω.
            </p>
            <div class="row">
                <div class="col-md-6">
                    <form method="post">
                        <div class="form-group">
                            <label asp-for="Code" class="control-label">Κωδικός επαλήθευσης</label>
                            <input asp-for="Code" class="form-control" autocomplete="off" />
                            <span asp-validation-for="Code" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-default">Επαλήθευση</button>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    </form>
                </div>
            </div>
        </li>
    </ol>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
