@model ShowRecoveryCodesViewModel
@{
    ViewData["Title"] = "Κωδικοί ανάκτησης";
    ViewData.AddActivePage(ManageNavPages.TwoFactorAuthentication);
}

<h4>@ViewData["Title"]</h4>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Βάλτε αυτούς τους κωδικούς σε ασφαλές μέρος.</strong>
    </p>
    <p>
        Αν χάσετε τη συσκευή σας και δεν έχουν τους κωδικούς ανάκτησης θα χάσετε την πρόσβαση στο λογαριασμό σας.
    </p>
</div>
<div class="row">
    <div class="col-md-12">
        @for (var row = 0; row < Model.RecoveryCodes.Length; row += 2)
        {
            <code>@Model.RecoveryCodes[row]</code><text>&nbsp;</text><code>@Model.RecoveryCodes[row + 1]</code><br />
        }
    </div>
</div>