@model netcore.Models.Invent.VendorPayment

@{
    ViewData["Title"] = "Λεπτομέρειες";
    Layout = "~/Views/Shared/_AdminlteNetcoreDetails.cshtml";
    ViewData["EntityIcon"] = "fa fa-money";
}

<div class="row">
    <div class="col-md-9">
        <!-- Default box -->
        <div class="box box-primary">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="PaymentNumber" class="control-label"></label>
                                    <input disabled asp-for="PaymentNumber" class="form-control" />
                                    <span asp-validation-for="PaymentNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="EmployeeId" class="control-label">Συνεργάτης</label>
                                    <select disabled asp-for="EmployeeId" id="EmployeeList" class="form-control select2" asp-items="ViewBag.EmployeeId"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="purchaseOrderId" class="control-label"></label>
                                    <select disabled asp-for="purchaseOrderId" id="purchaseOrderId" class="form-control" asp-items="ViewBag.purchaseOrderId"></select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="PaymentDate" class="control-label"></label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input disabled asp-for="PaymentDate" value="@Model.PaymentDate.ToString("dd/MM/yyyy")" class="form-control pull-right datepicker" lang="el" type="text" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="PaymentTypeId" class="control-label"></label>
                                    <select disabled asp-for="PaymentTypeId" class="form-control" asp-items="ViewBag.PaymentTypeId"></select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="PaymentAmount" class="control-label"></label>
                                    <input disabled asp-for="PaymentAmount" id="paymentAmount" class="form-control" />
                                    <span asp-validation-for="PaymentAmount" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="CashRepositoryId" class="control-label">Ταμείο</label>
                                    <select disabled asp-for="CashRepositoryId" id="CashRepository" class="form-control select2" asp-items="ViewBag.CashRepositoryId"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <div class="form-group">
                    <a asp-action="Edit" asp-route-id="@Model.VendorPaymentId" class="btn btn-primary">Επεξεργασία</a>
                    <a asp-action="Index" class="btn btn-default">Επιστροφή στη λίστα</a>
                </div>
            </div>
            <!-- /.box-footer-->
        </div>
    </div>
    <div class="col-md-3">
        @await Html.PartialAsync("~/Views/Shared/_AdminlteNetcoreTimeline.cshtml")
    </div>
