@model netcore.Models.Invent.CustomerLine


@{
    ViewData["Title"] = "Δημιουργία";
    Layout = "~/Views/Shared/_AdminlteNetcorePopup.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="customerLineId" />
        <div class="form-group hidden">
            <label asp-for="customerId" class="control-label"></label>
            <select asp-for="customerId" class="form-control select2" asp-items="ViewBag.customerId"></select>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="street1" class="control-label"></label>
                    <input asp-for="street1" class="form-control" />
                    <span asp-validation-for="street1" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="PostCode" class="control-label"></label>
                    <input asp-for="PostCode" class="form-control" />
                    <span asp-validation-for="PostCode" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="city" class="control-label"></label>
                    <input asp-for="city" class="form-control" />
                    <span asp-validation-for="city" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="ProductVAT" class="control-label"></label>
                    <input asp-for="ProductVAT" class="form-control" />
                    <span asp-validation-for="ProductVAT" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label asp-for="province" class="control-label"></label>
                <input asp-for="province" class="form-control" />
                <span asp-validation-for="province" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="country" class="control-label"></label>
                    <input asp-for="country" class="form-control" />
                    <span asp-validation-for="country" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="LocLat" class="control-label"></label>
                    <input asp-for="LocLat" class="form-control" />
                    <span asp-validation-for="LocLat" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="LocLong" class="control-label"></label>
                    <input asp-for="LocLong" class="form-control" />
                    <span asp-validation-for="LocLong" class="text-danger"></span>
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
