@model netcore.Models.Invent.Employee

@{
    ViewData["Title"] = "Επεξεργασία";
    Layout = "~/Views/Shared/_AdminlteNetcoreEdit.cshtml";
    ViewData["EntityIcon"] = "fa fa-user";
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EmployeeId" />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="UserName" class="control-label"></label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="DisplayName" class="control-label"></label>
                        <input asp-for="DisplayName" class="form-control" />
                        <span asp-validation-for="DisplayName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group has-success">
                        <label asp-for="street1" class="control-label"></label>
                        <input asp-for="street1" class="form-control" />
                        <span asp-validation-for="street1" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="city" class="control-label"></label>
                        <input asp-for="city" class="form-control" />
                        <span asp-validation-for="city" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="province" class="control-label"></label>
                        <input asp-for="province" class="form-control" />
                        <span asp-validation-for="province" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="country" class="control-label"></label>
                        <input asp-for="country" class="form-control" />
                        <span asp-validation-for="country" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Commission" class="control-label"></label>
                        <input asp-for="Commission" class="form-control" />
                        <span asp-validation-for="Commission" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Active" class="control-label"></label>
                        <input type="checkbox" asp-for="Active" class="checkbox" />
                        <span asp-validation-for="Active" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="PaymentReceiver" class="control-label"></label>
                        <input type="checkbox" asp-for="PaymentReceiver" class="checkbox" />
                        <span asp-validation-for="PaymentReceiver" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="DefaultCarrier" class="control-label"></label>
                        <input type="checkbox" asp-for="DefaultCarrier" class="checkbox" />
                        <span asp-validation-for="DefaultCarrier" class="text-danger"></span>
                    </div>
                </div>

            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
