@model netcore.Models.Invent.CashRepository

@{
    ViewData["Title"] = "Δημιουργία";
    Layout = "~/Views/Shared/_AdminlteNetcoreCreate.cshtml";
    ViewData["EntityIcon"] = "fa fa-building-o";
    ViewData["CreateInfo"] = "Οι κατάλογοι αποτελούν την υλοποίηση της συμφωνίας που έχουμε κάνει τον κάθε πελάτη ξεχωριστά.";
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CashRepositoryName" class="control-label"></label>
                <input asp-for="CashRepositoryName" class="form-control" />
                <span asp-validation-for="CashRepositoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalReceipts" class="control-label"></label>
                <input asp-for="TotalReceipts" class="form-control" />
                <span asp-validation-for="TotalReceipts" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalPayments" class="control-label"></label>
                <input asp-for="TotalPayments" class="form-control" />
                <span asp-validation-for="TotalPayments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Balance" class="control-label"></label>
                <input asp-for="Balance" class="form-control" />
                <span asp-validation-for="Balance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label"></label>
                <select asp-for="EmployeeId" class="form-control" asp-items="ViewBag.EmployeeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="createdAt" class="control-label"></label>
                <input asp-for="createdAt" class="form-control" />
                <span asp-validation-for="createdAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
