@model netcore.Models.Invent.CashRepository

@{
    ViewData["Title"] = "Δημιουργία";
    Layout = "~/Views/Shared/_AdminlteNetcoreCreate.cshtml";
    ViewData["EntityIcon"] = "fa fa-google-wallet";
    ViewData["CreateInfo"] = "Ταμείο έχουν μόνο οι παραλήπτες χρημάτων για λογαριασμό της εταιρίας.";
}

<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="CashRepositoryId" />
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="CashRepositoryName" class="control-label"></label>
                    <input  asp-for="CashRepositoryName" class="form-control" />
                    <span asp-validation-for="CashRepositoryName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group has-success">
                    <label asp-for="EmployeeId" class="control-label">Συνεργάτης</label>
                    <select  asp-for="EmployeeId" class="form-control select2" asp-items="ViewBag.employeeId"></select>
                    <span asp-validation-for="EmployeeId" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label asp-for="MainRepository" class="control-label"></label>
                    <input type="checkbox" asp-for="MainRepository" class="checkbox" />
                    <span asp-validation-for="MainRepository" class="text-danger"></span>
                </div>
            </div>

        </div>
    </div>
</div>

@section Styles{

    <!-- iCheck -->
    <link rel="stylesheet" href="~/adminlte/plugins/iCheck/all.css" />

}

@section Scripts {

    <!-- iCheck -->
    <script src="~/adminlte/plugins/iCheck/icheck.min.js"></script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' /* optional */
            });
        });
    </script>


}
