@model netcore.Models.Invent.CashRepository
@inject netcore.Data.ApplicationDbContext _context;

@{
    ViewData["Title"] = "Διαγραφή";
    Layout = "~/Views/Shared/_AdminlteNetcoreDelete.cshtml";
    ViewData["EntityIcon"] = "fa fa-google-wallet";
    ViewData["DeleteInfo"] = "Το Ταμείο που έχει ήδη συναλλαγές δεν μπορεί να διαγραφεί.";
    ViewData["IsCanDeleted"] = false;

    ViewData["IsCanDeleted"] = true;
}


@Html.Partial("_StatusMessage", (string)ViewBag.StatusMessage)
<div class="row">
    <div class="col-md-12">
        <!-- Default box -->
        <div class="box box-primary">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="CashRepositoryId" />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="CashRepositoryName" class="control-label"></label>
                                    <input disabled asp-for="CashRepositoryName" class="form-control" />
                                    <span asp-validation-for="CashRepositoryName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group has-success">
                                    <label asp-for="EmployeeId" class="control-label">Συνεργάτης</label>
                                    <select disabled asp-for="EmployeeId" class="form-control select2" asp-items="ViewBag.employeeId"></select>
                                    <span asp-validation-for="EmployeeId" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label asp-for="Description" class="control-label"></label>
                                    <input asp-for="Description" class="form-control" />
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label asp-for="MainRepository" class="control-label"></label>
                                    <input type="checkbox" asp-for="MainRepository" class="checkbox" />
                                    <span asp-validation-for="MainRepository" class="text-danger"></span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <div class="form-group">
                    <a asp-action="Edit" asp-route-id="@Model.CashRepositoryId" class="btn btn-primary">Επεξεργασία</a>
                    <a asp-action="Index" class="btn btn-default">Επιστροφή στη λίστα</a>
                </div>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </div>
</div>
