@model netcore.Models.Invent.CashRepository
@inject netcore.Data.ApplicationDbContext _context;
@{
    ViewData["Title"] = "Λεπτομέρειες";
    Layout = "~/Views/Shared/_AdminlteNetcoreDetails.cshtml";
    ViewData["EntityIcon"] = "fa fa-google-wallet";
    netcore.Models.Invent.MoneyTransferOrder MoneyTransferOrder = _context.MoneyTransferOrder.Where(x => x.CashRepositoryIdTo.Equals(Model.CashRepositoryId) && x.MoneyTransferOrderStatus != netcore.Models.Invent.MoneyTransferOrderStatus.Completed).FirstOrDefault();
    if (MoneyTransferOrder == null)
    {
        ViewData["IsCashflowIn"] = false;
    }

}

<div class="row">
    <div class="col-md-9">
        <!-- Default box -->
        <div class="box box-primary">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="CashRepositoryId" />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="CashRepositoryName" class="control-label"></label>
                                    <input disabled asp-for="CashRepositoryName" class="form-control" />
                                    <span asp-validation-for="CashRepositoryName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group has-success">
                                    <label asp-for="EmployeeId" class="control-label">Συνεργάτης</label>
                                    <select disabled asp-for="EmployeeId" class="form-control select2" asp-items="ViewBag.employeeId"></select>
                                    <span asp-validation-for="EmployeeId" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label asp-for="Description" class="control-label"></label>
                                    <input disabled asp-for="Description" class="form-control" />
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label asp-for="MainRepository" class="control-label"></label>
                                    <input disabled type="checkbox" asp-for="MainRepository" class="checkbox" />
                                    <span asp-validation-for="MainRepository" class="text-danger"></span>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="TotalReceipts" class="control-label"></label>
                                    <input disabled asp-for="TotalReceipts" class="form-control" />
                                    <span asp-validation-for="TotalReceipts" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="TotalPayments" class="control-label"></label>
                                    <input disabled asp-for="TotalPayments" class="form-control" />
                                    <span asp-validation-for="TotalPayments" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="TotalCashflowIn" class="control-label"></label>
                                    <input disabled asp-for="TotalCashflowIn" class="form-control" />
                                    <span asp-validation-for="TotalCashflowIn" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="TotalCashflowOut" class="control-label"></label>
                                    <input disabled asp-for="TotalCashflowOut" class="form-control" />
                                    <span asp-validation-for="TotalCashflowOut" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Balance" class="control-label"></label>
                                    <input disabled asp-for="Balance" class="form-control" />
                                    <span asp-validation-for="Balance" class="text-danger"></span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <div class="form-group">
                        <a asp-action="Edit" asp-route-id="@Model.CashRepositoryId" class="btn btn-primary">Επεξεργασία</a>
                        <a asp-action="Index" class="btn btn-default">Επιστροφή στη λίστα</a>
                        @if (Model.Balance > 0)
                        {
                            <a asp-action="Create" asp-controller="MoneyTransferOrder" asp-route-Id="@Model.CashRepositoryId" class="btn btn-primary"><i class="fa fa-plane"></i>Μεταφορά Χρημάτων</a>
                        }
                        @if (ViewBag.IsCashflowIn)
                        {
                                <a asp-action="Create" asp-controller="CashflowIn" class="btn btn-primary"><i class="fa fa-plane"></i>Εισροή χρημάτων</a>
                        }
                    </div>
                </div>
                <!-- /.box-footer-->
            </div>
            <!-- /.box -->
        </div>
        <div class="col-md-3">
            @await Html.PartialAsync("~/Views/Shared/_AdminlteNetcoreTimeline.cshtml")
        </div>
    </div>
</div>
@section Styles{

    <!-- iCheck -->
    <link rel="stylesheet" href="~/adminlte/plugins/iCheck/all.css" />

}
@section Scripts {
    <!-- iCheck -->
    <script src="~/adminlte/plugins/iCheck/icheck.min.js"></script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' /* optional */
            });
        });
    </script>

}

