@model netcore.Models.Invent.MoneyTransferOrder

@{
    ViewData["Title"] = "Δημιουργία";
    Layout = "~/Views/Shared/_AdminlteNetcoreCreate.cshtml";
    ViewData["EntityIcon"] = "fa fa-exchange";
    ViewData["CreateInfo"] = "Η εντολή μεταφοράς χρημάτων (ΕΜΧ), είναι μια διαδικασία κατα την οποία μπορούμε να μεταφέρουμε χρήματα από το ένα ταμείο σε κάποιο άλλο ταμείο. Δεν μπορούμε να μεταφέρουμε χρήματα απο ένα ταμείο στο ίδιο ταμείο";
}

@Html.Partial("_StatusMessage", (string)ViewBag.StatusMessage)
<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="MoneyTransferOrderId" />
        <input type="hidden" asp-for="MoneyTransferOrderNumber" />
        <input type="hidden" asp-for="MoneyTransferOrderStatus" />
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="MoneyTransferOrderNumber" class="control-label"></label>
                    <input asp-for="MoneyTransferOrderNumber" class="form-control" disabled />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="MoneyTransferOrderDate" class="control-label"></label>
                    <div class="input-group date  time">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input asp-for="MoneyTransferOrderDate" value="@Model.MoneyTransferOrderDate.ToString("dd/MM/yyyy")" class="form-control pull-right datepicker" lang="el" type="text" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="CashRepositoryIdFrom" class="control-label">Από Ταμείο</label>
                    <select asp-for="CashRepositoryIdFrom" id="CashRepositoryIdFrom" class="form-control select2" asp-items="ViewBag.CashRepositoryIdFrom"></select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="CashRepositoryIdTo" class="control-label">Στο Ταμείο</label>
                    <select asp-for="CashRepositoryIdTo" id="CashRepositoryIdTo" class="form-control select2" asp-items="ViewBag.CashRepositoryIdTo"></select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="PaymentAmount" class="control-label"></label>
                    <input asp-for="PaymentAmount" class="form-control" />
                    <span asp-validation-for="PaymentAmount" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="MoneyTransferOrderStatus" class="control-label"></label>
                    <select asp-for="MoneyTransferOrderStatus" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.MoneyTransferOrderStatus>()" disabled></select>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
