@model netcore.Models.Invent.PaymentReceive

@{
    ViewData["Title"] = "Δημιουργία";
    Layout = "~/Views/Shared/_AdminlteNetcoreCreate.cshtml";
    ViewData["EntityIcon"] = "fa fa-money";
    ViewData["CreateInfo"] = "Με τον όρο 'Εισπράξεις' εννούμε την εξόφληση μέρους ή ολόκληρης της αξίας του τιμολογίου.";
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PaymentReceiveName" class="control-label"></label>
                <input asp-for="PaymentReceiveName" class="form-control" />
                <span asp-validation-for="PaymentReceiveName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvoiceId" class="control-label"></label>
                <select asp-for="InvoiceId" class="form-control" asp-items="ViewBag.InvoiceId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PaymentDate" class="control-label"></label>
                <input asp-for="PaymentDate" class="form-control" />
                <span asp-validation-for="PaymentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentTypeId" class="control-label"></label>
                <select asp-for="PaymentTypeId" class="form-control" asp-items="ViewBag.PaymentTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PaymentAmount" class="control-label"></label>
                <input asp-for="PaymentAmount" class="form-control" />
                <span asp-validation-for="PaymentAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsFullPayment" /> @Html.DisplayNameFor(model => model.IsFullPayment)
                    </label>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
