@{
    ViewData["Title"] = "Δεν επιτρέπεται η πρόσβαση";
    Layout = "_AdminlteNetcoreBlank";
}



<div class="register-box">
    <div class="register-box-body">
        <div class="text-center">
            <h3>Δεν έχετε πρόσβαση σε αυτόν τον πόρο.</h3>
        </div>
    </div>
</div>