@{
    ViewData["Title"] = "Επιβεβαίωση ειδοποίησης ηλεκτρονικού ταχυδρομείου";
    Layout = "_AdminlteNetcoreBlank";
}




<div class="register-box">
    <div class="register-box-body">
        <div class="text-center">
            <h3>Έχουμε στείλει email επιβεβαίωσης στην καταχωρημένη διεύθυνση ηλεκτρονικού ταχυδρομείου σας.</h3>
            <h4>Ακολουθήστε τις οδηγίες για την ενεργοποίηση του λογαριασμού ηλεκτρονικού ταχυδρομείου.</h4>
        </div>
    </div>
</div>