@{
    ViewData["Title"] = "Επιβεβαίωση ηλεκτρονικού ταχυδρομείου";
    Layout = "_AdminlteNetcoreBlank";
}



<div class="register-box">
    <div class="register-box-body">
        <div class="text-center">
            <h3>Σας ευχαριστούμε που επιβεβαιώσατε το email σας.</h3>
        </div>
    </div>
</div>