@{
    ViewData["Title"] = "Ξεχάσατε τον κωδικό επιβεβαίωσης";
    Layout = "_AdminlteNetcoreBlank";
}



<div class="register-box">
    <div class="register-box-body">
        <div class="text-center">
            <h3>Ελέγξτε το email σας για να επαναφέρετε τον κωδικό πρόσβασής σας.</h3>
        </div>
    </div>
</div>