@{
    ViewData["Title"] = "Επιβεβαίωσης επαναφοράς κωδικού πρόσβασης";
    Layout = "_AdminlteNetcoreBlank";
}


<div class="register-box">
    <div class="register-box-body">
        <div class="text-center">
            <h3> Ο κωδικός σας έχει επαναφερθεί. Παρακαλούμε <a asp-action="Login"> κάντε κλικ εδώ για να συνδεθείτε </a>. </h3>
</div>
    </div>
</div>