@{
    ViewData["Title"] = "Αποσυνδέθηκε";
    Layout = "_AdminlteNetcoreBlank";
}


<div class="register-box">
    <div class="register-box-body">
        <div class="text-center">
            <h3>Έχετε αποσυνδεθεί με επιτυχία.</h3>
        </div>
    </div>
</div>