@model netcore.Models.Invent.Branch
@inject netcore.Data.ApplicationDbContext _context;
@{
    ViewData["Title"] = "Διαγραφή";
    Layout = "~/Views/Shared/_AdminlteNetcoreDelete.cshtml";
    ViewData["EntityIcon"] = "fa fa-building-o";
    ViewData["DeleteInfo"] = "Το υποκατάστημα που διαθέτει ήδη αποθήκες δεν μπορεί να διαγραφεί.";
    netcore.Models.Invent.Warehouse wh = _context.Warehouse.Where(x => x.branchId.Equals(Model.branchId)).FirstOrDefault();
    ViewData["IsCanDeleted"] = false;
    if (wh == null)
    {
        ViewData["IsCanDeleted"] = true;
    }
}


@Html.Partial("_StatusMessage", (string)ViewBag.StatusMessage)
<div>
    <div class="row">
        <div class="col-md-12">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="branchId" />
            <div class="row">
                <div class="col-md-12">
                    <small class="text-yellow"><i>Περίληψη</i></small>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group has-success">
                        <label asp-for="branchName" class="control-label"></label>
                        <input asp-for="branchName" class="form-control" disabled />
                        <span asp-validation-for="branchName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="description" class="control-label"></label>
                        <textarea asp-for="description" class="form-control" cols="3" disabled></textarea>
                        <span asp-validation-for="description" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <small class="text-yellow"><i>Διεύθυνση</i></small>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group has-success">
                        <label asp-for="street1" class="control-label"></label>
                        <input asp-for="street1" class="form-control" disabled />
                        <span asp-validation-for="street1" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="street2" class="control-label"></label>
                        <input asp-for="street2" class="form-control" disabled />
                        <span asp-validation-for="street2" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="city" class="control-label"></label>
                        <input asp-for="city" class="form-control" disabled />
                        <span asp-validation-for="city" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="province" class="control-label"></label>
                        <input asp-for="province" class="form-control" disabled />
                        <span asp-validation-for="province" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="country" class="control-label"></label>
                        <input asp-for="country" class="form-control" disabled />
                        <span asp-validation-for="country" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <small class="text-yellow"><i>Property</i></small>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="isDefaultBranch" class="control-label"></label>
                        <div class="checkbox">
                            <input asp-for="isDefaultBranch" disabled /> &nbsp; Yes.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles{

    <!-- iCheck -->
    <link rel="stylesheet" href="~/adminlte/plugins/iCheck/all.css" />

}
@section Scripts {
    <!-- iCheck -->
    <script src="~/adminlte/plugins/iCheck/icheck.min.js"></script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' /* optional */
            });
        });
    </script>

}