<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="~/landing/industry/img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="codepixer">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Διαχείριση Αποθεμάτων</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
    CSS
    ============================================= -->
    <link rel="stylesheet" href="~/landing/industry/css/linearicons.css">
    <link rel="stylesheet" href="~/landing/industry/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/landing/industry/css/bootstrap.css">
    <link rel="stylesheet" href="~/landing/industry/css/magnific-popup.css">
    <link rel="stylesheet" href="~/landing/industry/css/nice-select.css">
    <link rel="stylesheet" href="~/landing/industry/css/hexagons.min.css">
    <link rel="stylesheet" href="~/landing/industry/css/animate.min.css">
    <link rel="stylesheet" href="~/landing/industry/css/owl.carousel.css">
    <link rel="stylesheet" href="~/landing/industry/css/main.css">
</head>
<body>
    <!-- #header -->
    @await Html.PartialAsync("_Header.cshtml")

    @RenderBody()

    <!-- start footer Area -->
    @await  Html.PartialAsync("_Footer.cshtml")
    <!-- End footer Area -->
    <script src="~/landing/industry/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="~/landing/industry/js/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
    <script src="~/landing/industry/js/easing.min.js"></script>
    <script src="~/landing/industry/js/hoverIntent.js"></script>
    <script src="~/landing/industry/js/superfish.min.js"></script>
    <script src="~/landing/industry/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/landing/industry/js/jquery.magnific-popup.min.js"></script>
    <script src="~/landing/industry/js/owl.carousel.min.js"></script>
    <script src="~/landing/industry/js/hexagons.min.js"></script>
    <script src="~/landing/industry/js/jquery.nice-select.min.js"></script>
    <script src="~/landing/industry/js/jquery.counterup.min.js"></script>
    <script src="~/landing/industry/js/waypoints.min.js"></script>
    <script src="~/landing/industry/js/mail-script.js"></script>
    <script src="~/landing/industry/js/main.js"></script>
</body>
</html>

