@model netcore.Models.Invent.Invoice

@{
    ViewData["Title"] = "Διαγραφή";
    Layout = "~/Views/Shared/_AdminlteNetcoreDelete.cshtml";
    ViewData["EntityIcon"] = "fa fa-cart-plus";
    ViewData["DeleteInfo"] = "Δεν μπορεί να γίνει διαγραφή του τιμολογίου.";
    ViewData["IsCanDeleted"] = !Model.Finalized;
}


@Html.Partial("_StatusMessage", (string)ViewBag.StatusMessage)
<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="InvoiceId" />
        <input type="hidden" asp-for="InvoiceNumber" />
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="InvoiceNumber" class="control-label"></label>
                        <input disabled asp-for="InvoiceNumber" class="form-control" />
                        <span asp-validation-for="InvoiceNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="shipmentId" class="control-label"></label>
                        <select disabled asp-for="shipmentId" class="form-control" asp-items="ViewBag.shipmentId"></select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="InvoiceDate" class="control-label"></label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input disabled asp-for="InvoiceDate" value="@Model.InvoiceDate.ToString("dd/MM/yyyy")" class="form-control pull-right datepicker" lang="el" type="text" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Finalized" class="control-label"></label>
                        <input disabled type="checkbox" asp-for="Finalized" class="checkbox" />
                        <span asp-validation-for="Finalized" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Paid" class="control-label"></label>
                        <input disabled type="checkbox" asp-for="Paid" class="checkbox" />
                        <span asp-validation-for="Paid" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="customerName" class="control-label"></label>
                        <input disabled asp-for="customerName" class="form-control" />
                        <span asp-validation-for="customerName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="CustomerOfficePhone" class="control-label"></label>
                        <input disabled asp-for="CustomerOfficePhone" class="form-control" />
                        <span asp-validation-for="CustomerOfficePhone" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="Comments" class="control-label"></label>
                        <textarea disabled asp-for="Comments" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="Comments" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
