@model netcore.Models.Invent.Invoice

@{
    ViewData["Title"] = "Διαγραφή";
    Layout = "~/Views/Shared/_AdminlteNetcoreDelete.cshtml";
    ViewData["EntityIcon"] = "fa fa-cart-plus";
    ViewData["DeleteInfo"] = "[Completed] Παραγγελία Πώλησης(SO) δεν μπορεί να διαγραφεί. Επαναφορά της κατάστασης σε [Open] με διαγραφή της σχετικής παραγγελίας παράδοσης (αποστολή)";
    ViewData["IsCanDeleted"] = false;

}


@Html.Partial("_StatusMessage", (string)ViewBag.StatusMessage)
<div class="row">
    <div class="col-md-12">
        <!-- Default box -->
        <div class="box box-primary">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input disabled type="hidden" asp-for="InvoiceId" />
                        <input type="hidden" asp-for="InvoiceNumber" />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="InvoiceNumber" class="control-label"></label>
                                    <input disabled asp-for="InvoiceNumber" class="form-control" />
                                    <span asp-validation-for="InvoiceNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="shipmentId" class="control-label"></label>
                                    <input disabled asp-for="shipmentId" class="form-control" />
                                    <span asp-validation-for="shipmentId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="InvoiceDate" class="control-label"></label>
                                    <input disabled asp-for="InvoiceDate" class="form-control" />
                                    <span asp-validation-for="InvoiceDate" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
