@model netcore.Models.Invent.SalesOrderLine

@{
    ViewData["Title"] = "Δημιουργία";
    Layout = "~/Views/Shared/_AdminlteNetcorePopup.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="SalesOrderLineId" />

        <div class="form-group hidden">
            <label asp-for="SalesOrderId" class="control-label"></label>
            <select asp-for="SalesOrderId" id="salesorderId" class="form-control select2" asp-items="ViewBag.salesOrderId"></select>
        </div>
        <div class="col-md-12">
            <div class="form-group hidden">
                <label asp-for="UnitCost" class="control-label"></label>
                <input asp-for="UnitCost" id="unitcost" class="form-control" />
                <span asp-validation-for="UnitCost" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="ProductId" class="control-label"></label>
                    <select asp-for="ProductId" id="productList" class="form-control select2" asp-items="ViewBag.productId"></select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Qty" class="control-label"></label>
                    <input asp-for="Qty" id="qty" class="form-control" />
                    <span asp-validation-for="Qty" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group ">
                    <label asp-for="Discount" class="control-label"></label>
                    <input readonly="readonly" asp-for="Discount" id="discount" class="form-control" />
                    <span asp-validation-for="Discount" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="DiscountAmount" class="control-label"></label>
                    <input readonly="readonly" asp-for="DiscountAmount" id="discountamount" class="form-control" />
                    <span asp-validation-for="DiscountAmount" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="TotalBeforeDiscount" class="control-label"></label>
                    <input readonly="readonly" asp-for="TotalBeforeDiscount" id="totalbeforediscount" class="form-control" />
                    <span asp-validation-for="TotalBeforeDiscount" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="TotalAfterDiscount" class="control-label"></label>
                    <input readonly="readonly" asp-for="TotalAfterDiscount" id="totalafterdiscount" class="form-control" />
                    <span asp-validation-for="TotalAfterDiscount" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="SpecialTaxDiscount" class="control-label"></label>
                    <input readonly="readonly" asp-for="SpecialTaxDiscount" id="specialtaxdiscount" class="form-control" lang="el" />
                    <span asp-validation-for="SpecialTaxDiscount" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="SpecialTaxAmount" class="control-label"></label>
                    <input readonly="readonly" asp-for="SpecialTaxAmount" id="specialtaxamount" class="form-control" />
                    <span asp-validation-for="SpecialTaxAmount" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="ProductVAT" class="control-label"></label>
                    <input readonly="readonly" asp-for="ProductVAT" id="productVAT" class="form-control" />
                    <span asp-validation-for="ProductVAT" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="ProductVATAmount" class="control-label"></label>
                    <input readonly="readonly" asp-for="ProductVATAmount" id="productvatamount" class="form-control" />
                    <span asp-validation-for="ProductVATAmount" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="TotalSpecialTaxAmount" class="control-label"></label>
                    <input readonly="readonly" asp-for="TotalSpecialTaxAmount" id="totalspecialtaxamount" class="form-control" />
                    <span asp-validation-for="TotalSpecialTaxAmount" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="TotalWithSpecialTax" class="control-label"></label>
                    <input readonly="readonly" asp-for="TotalWithSpecialTax" id="totalwithspecialtax" class="form-control" />
                    <span asp-validation-for="TotalWithSpecialTax" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" readonly="readonly" id="price" class="form-control" lang="el" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group ">
                    <label asp-for="TotalAmount" class="control-label"></label>
                    <input readonly="readonly" asp-for="TotalAmount" id="totalamount" class="form-control" />
                    <span asp-validation-for="TotalAmount" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="IsGift" class="control-label"></label>
                    <input type="number" asp-for="IsGift" id="isgift" class="number" min="0" max="1"/>
                    <span asp-validation-for="IsGift" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles{
    <!-- iCheck -->
    <link rel="stylesheet" href="~/adminlte/plugins/iCheck/all.css" />
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <!-- iCheck -->
        <script src="~/adminlte/plugins/iCheck/icheck.min.js"></script>
    }
    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' /* optional */
            });
        });
    </script>

    <script type="text/javascript">
        var productId = $("#productList").val();
        var salesorderId = $("#salesorderId").val();
        var qty = $("#qty").val();
        var isgift = $("#isgift").val();
        $.getJSON("/SalesOrderLine/GetOrderLineNumbers", { productId: productId, salesorderId: salesorderId, qty: qty, isgift: isgift }, function (data) {
            data['Price'] = data['Price'].toString().replace('.', ',');
            $("#price").val(data.Price);
            data['SpecialTaxDiscount'] = data['SpecialTaxDiscount'].toString().replace('.', ',');
            $("#specialtaxdiscount").val(data.SpecialTaxDiscount);
            data['SpecialTaxAmount'] = data['SpecialTaxAmount'].toString().replace('.', ',');
            $("#specialtaxamount").val(data.SpecialTaxAmount);
            data['ProductVAT'] = data['ProductVAT'].toString().replace('.', ',');
            $("#productVAT").val(data.ProductVAT);
            data['Qty'] = data['Qty'].toString().replace('.', ',');
            $("#qty").val(data.Qty);
            data['ProductVATAmount'] = data['ProductVATAmount'].toString().replace('.', ',');
            $("#productvatamount").val(data.ProductVATAmount);
            data['Discount'] = data['Discount'].toString().replace('.', ',');
            $("#discount").val(data.Discount);
            data['DiscountAmount'] = data['DiscountAmount'].toString().replace('.', ',');
            $("#discountamount").val(data.DiscountAmount);
            data['TotalAmount'] = data['TotalAmount'].toString().replace('.', ',');
            $("#totalamount").val(data.TotalAmount);
            data['TotalBeforeDiscount'] = data['TotalBeforeDiscount'].toString().replace('.', ',');
            $("#totalbeforediscount").val(data.TotalBeforeDiscount);
            data['TotalAfterDiscount'] = data['TotalAfterDiscount'].toString().replace('.', ',');
            $("#totalafterdiscount").val(data.TotalAfterDiscount);
            data['TotalSpecialTaxAmount'] = data['TotalSpecialTaxAmount'].toString().replace('.', ',');
            $("#totalspecialtaxamount").val(data.TotalSpecialTaxAmount);
            data['TotalWithSpecialTax'] = data['TotalWithSpecialTax'].toString().replace('.', ',');
            $("#totalwithspecialtax").val(data.TotalWithSpecialTax);

        });

        $("#productList").change(function () {
            var productId = $("#productList").val();
            var salesorderId = $("#salesorderId").val();
            var qty = $("#qty").val();
            var isgift = $("#isgift").val();
            $.getJSON("/SalesOrderLine/GetOrderLineNumbers", { productId: productId, salesorderId: salesorderId, qty: qty, isgift: isgift }, function (data) {
                data['Price'] = data['Price'].toString().replace('.', ',');
                $("#price").val(data.Price);
                data['SpecialTaxDiscount'] = data['SpecialTaxDiscount'].toString().replace('.', ',');
                $("#specialtaxdiscount").val(data.SpecialTaxDiscount);
                data['SpecialTaxAmount'] = data['SpecialTaxAmount'].toString().replace('.', ',');
                $("#specialtaxamount").val(data.SpecialTaxAmount);
                data['ProductVAT'] = data['ProductVAT'].toString().replace('.', ',');
                $("#productVAT").val(data.ProductVAT);
                data['Qty'] = data['Qty'].toString().replace('.', ',');
                $("#qty").val(data.Qty);
                data['ProductVATAmount'] = data['ProductVATAmount'].toString().replace('.', ',');
                $("#productvatamount").val(data.ProductVATAmount);
                data['Discount'] = data['Discount'].toString().replace('.', ',');
                $("#discount").val(data.Discount);
                data['DiscountAmount'] = data['DiscountAmount'].toString().replace('.', ',');
                $("#discountamount").val(data.DiscountAmount);
                data['TotalAmount'] = data['TotalAmount'].toString().replace('.', ',');
                $("#totalamount").val(data.TotalAmount);
                data['TotalBeforeDiscount'] = data['TotalBeforeDiscount'].toString().replace('.', ',');
                $("#totalbeforediscount").val(data.TotalBeforeDiscount);
                data['TotalAfterDiscount'] = data['TotalAfterDiscount'].toString().replace('.', ',');
                $("#totalafterdiscount").val(data.TotalAfterDiscount);
                data['TotalSpecialTaxAmount'] = data['TotalSpecialTaxAmount'].toString().replace('.', ',');
                $("#totalspecialtaxamount").val(data.TotalSpecialTaxAmount);
                data['TotalWithSpecialTax'] = data['TotalWithSpecialTax'].toString().replace('.', ',');
                $("#totalwithspecialtax").val(data.TotalWithSpecialTax);
            });
        });

        $("#qty").change(function () {
            var productId = $("#productList").val();
            var salesorderId = $("#salesorderId").val();
            var qty = $("#qty").val();
            var isgift = $("#isgift").val();
            $.getJSON("/SalesOrderLine/GetOrderLineNumbers", { productId: productId, salesorderId: salesorderId, qty: qty, isgift: isgift }, function (data) {
                data['Price'] = data['Price'].toString().replace('.', ',');
                $("#price").val(data.Price);
                data['SpecialTaxDiscount'] = data['SpecialTaxDiscount'].toString().replace('.', ',');
                $("#specialtaxdiscount").val(data.SpecialTaxDiscount);
                data['SpecialTaxAmount'] = data['SpecialTaxAmount'].toString().replace('.', ',');
                $("#specialtaxamount").val(data.SpecialTaxAmount);
                data['ProductVAT'] = data['ProductVAT'].toString().replace('.', ',');
                $("#productVAT").val(data.ProductVAT);
                data['Qty'] = data['Qty'].toString().replace('.', ',');
                $("#qty").val(data.Qty);
                data['ProductVATAmount'] = data['ProductVATAmount'].toString().replace('.', ',');
                $("#productvatamount").val(data.ProductVATAmount);
                data['Discount'] = data['Discount'].toString().replace('.', ',');
                $("#discount").val(data.Discount);
                data['DiscountAmount'] = data['DiscountAmount'].toString().replace('.', ',');
                $("#discountamount").val(data.DiscountAmount);
                data['TotalAmount'] = data['TotalAmount'].toString().replace('.', ',');
                $("#totalamount").val(data.TotalAmount);
                data['TotalBeforeDiscount'] = data['TotalBeforeDiscount'].toString().replace('.', ',');
                $("#totalbeforediscount").val(data.TotalBeforeDiscount);
                data['TotalAfterDiscount'] = data['TotalAfterDiscount'].toString().replace('.', ',');
                $("#totalafterdiscount").val(data.TotalAfterDiscount);
                data['TotalSpecialTaxAmount'] = data['TotalSpecialTaxAmount'].toString().replace('.', ',');
                $("#totalspecialtaxamount").val(data.TotalSpecialTaxAmount);
                data['TotalWithSpecialTax'] = data['TotalWithSpecialTax'].toString().replace('.', ',');
                $("#totalwithspecialtax").val(data.TotalWithSpecialTax);
            });
        });
        $("#isgift").change(function () {
        var productId = $("#productList").val();
        var salesorderId = $("#salesorderId").val();
        var qty = $("#qty").val();
        var isgift = $("#isgift").val();

        $.getJSON("/SalesOrderLine/GetOrderLineNumbers", { productId: productId, salesorderId: salesorderId, qty: qty, isgift: isgift }, function (data) {
            data['Price'] = data['Price'].toString().replace('.', ',');
            $("#price").val(data.Price);
            data['SpecialTaxDiscount'] = data['SpecialTaxDiscount'].toString().replace('.', ',');
            $("#specialtaxdiscount").val(data.SpecialTaxDiscount);
            data['SpecialTaxAmount'] = data['SpecialTaxAmount'].toString().replace('.', ',');
            $("#specialtaxamount").val(data.SpecialTaxAmount);
            data['ProductVAT'] = data['ProductVAT'].toString().replace('.', ',');
            $("#productVAT").val(data.ProductVAT);
            data['Qty'] = data['Qty'].toString().replace('.', ',');
            $("#qty").val(data.Qty);
            data['ProductVATAmount'] = data['ProductVATAmount'].toString().replace('.', ',');
            $("#productvatamount").val(data.ProductVATAmount);
            data['Discount'] = data['Discount'].toString().replace('.', ',');
            $("#discount").val(data.Discount);
            data['DiscountAmount'] = data['DiscountAmount'].toString().replace('.', ',');
            $("#discountamount").val(data.DiscountAmount);
            data['TotalAmount'] = data['TotalAmount'].toString().replace('.', ',');
            $("#totalamount").val(data.TotalAmount);
            data['TotalBeforeDiscount'] = data['TotalBeforeDiscount'].toString().replace('.', ',');
            $("#totalbeforediscount").val(data.TotalBeforeDiscount);
            data['TotalAfterDiscount'] = data['TotalAfterDiscount'].toString().replace('.', ',');
            $("#totalafterdiscount").val(data.TotalAfterDiscount);
            data['TotalSpecialTaxAmount'] = data['TotalSpecialTaxAmount'].toString().replace('.', ',');
            $("#totalspecialtaxamount").val(data.TotalSpecialTaxAmount);
            data['TotalWithSpecialTax'] = data['TotalWithSpecialTax'].toString().replace('.', ',');
            $("#totalwithspecialtax").val(data.TotalWithSpecialTax);
        });
            
    });

    </script>
}
