@model netcore.Models.Invent.SalesOrderLine
@{
    ViewData["Title"] = "Επεξεργασία";
    Layout = "~/Views/Shared/_AdminlteNetcoreEdit.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="SalesOrderLineId" />
        <div class="form-group hidden">
            <label asp-for="SalesOrderId" class="control-label"></label>
            <select asp-for="SalesOrderId" class="form-control select2" asp-items="ViewBag.salesOrderId"></select>
            <span asp-validation-for="SalesOrderId" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="ProductId" class="control-label"></label>
                    <select asp-for="ProductId" class="form-control select2" asp-items="ViewBag.productId"></select>
                    <span asp-validation-for="ProductId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Qty" class="control-label"></label>
                    <input asp-for="Qty" class="form-control" />
                    <span asp-validation-for="Qty" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="DiscountAmount" class="control-label"></label>
                    <input asp-for="DiscountAmount" class="form-control" />
                    <span asp-validation-for="DiscountAmount" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="TotalAmount" class="control-label"></label>
                    <input asp-for="TotalAmount" class="form-control" />
                    <span asp-validation-for="TotalAmount" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="IsGift" class="control-label"></label>
                    <input type="number" asp-for="IsGift" id="isgift" class="number" min="0" max="1" />
                    <span asp-validation-for="IsGift" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group hidden">
            <label asp-for="UnitCost" class="control-label"></label>
            <input disabled asp-for="UnitCost" class="form-control" />
            <span asp-validation-for="UnitCost" class="text-danger"></span>
        </div>
        <div class="form-group hidden">
            <label asp-for="Discount" class="control-label"></label>
            <input disabled asp-for="Discount" class="form-control" />
            <span asp-validation-for="Discount" class="text-danger"></span>
        </div>
    </div>
</div>
@section Styles{
    <!-- iCheck -->
    <link rel="stylesheet" href="~/adminlte/plugins/iCheck/all.css" />
}

@section Scripts {
    <!-- iCheck -->
    <script src="~/adminlte/plugins/iCheck/icheck.min.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' /* optional */
            });
        });
    </script>

}



