@model netcore.Models.Invent.Shipment

@{
    ViewData["Title"] = "Λεπτομέρειες";
    Layout = "~/Views/Shared/_AdminlteNetcoreDetails.cshtml";
    ViewData["EntityIcon"] = "fa fa-plane";
}



<div class="row">
    <div class="col-md-9">
        <!-- Default box -->
        <div class="box box-primary">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="shipmentId" />
                        <div class="form-group hidden">
                            <label asp-for="branchId" class="control-label"></label>
                            <select disabled asp-for="branchId" class="form-control select2" asp-items="ViewBag.branchId"></select>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <small class="text-yellow"><i>Περίληψη</i></small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="shipmentNumber" class="control-label"></label>
                                    <input disabled asp-for="shipmentNumber" class="form-control" />
                                    <span asp-validation-for="shipmentNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="salesOrderId" class="control-label">Παραγγελία Πώλησης</label>
                                    <select disabled asp-for="salesOrderId" class="form-control select2" asp-items="ViewBag.salesOrderId"></select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="shipmentDate" class="control-label"></label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input disabled asp-for="shipmentDate" value="@Model.shipmentDate.ToString("dd/MM/yyyy")" class="form-control pull-right datepicker" type="text" />
                                    </div>
                                    <span asp-validation-for="shipmentDate" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group hidden">
                                    <label asp-for="customerId" class="control-label"></label>
                                    <select disabled asp-for="customerId" class="form-control select2" asp-items="ViewBag.customerId"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <small class="text-yellow"><i>Property</i></small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="warehouseId" class="control-label">Αποθήκη</label>
                                    <select disabled asp-for="warehouseId" class="form-control select2" asp-items="ViewBag.warehouseId"></select>
                                    <span asp-validation-for="warehouseId" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label asp-for="customerPO" class="control-label">Αναφορά PO πελάτη#</label>
                                    <input disabled asp-for="customerPO" class="form-control" />
                                    <span asp-validation-for="customerPO" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label asp-for="invoice" class="control-label">Τιμολόγιο για τον Πελάτη</label>
                                    <input disabled asp-for="invoice" class="form-control" />
                                    <span asp-validation-for="invoice" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="expeditionType" class="control-label"></label>
                                    <select disabled asp-for="expeditionType" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.ExpeditionType>()"></select>
                                    <span asp-validation-for="expeditionType" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="expeditionMode" class="control-label"></label>
                                    <select disabled asp-for="expeditionMode" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.ExpeditionMode>()"></select>
                                    <span asp-validation-for="expeditionMode" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <div class="form-group">
                    <a asp-action="Index" class="btn btn-default">Επιστροφή στη λίστα</a>
                    <a asp-action="ShowDeliveryOrder" asp-route-id="@Model.shipmentId" class="btn btn-primary pull-right"><i class="fa fa-print"></i> Εκτύπωση Δελτίου Αποστολής</a>
                </div>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </div>
    <div class="col-md-3">
    </div>
</div>


<div class="row">
    <div class="col-md-9">
        <!-- Default box -->
        <div class="box box-primary">

            <div class="box-body">
                <div class="row">
                    <div class="col-lg-12">
                        <table id="grid" name="grid" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th class="col-lg-5">Προϊόν</th>
                                    <th class="col-lg-3">Ποσ Παραγγελίας</th>
                                    <th class="col-lg-3">Ποσ Αποστολής</th>
                                    <th class="col-lg-1"></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <div class="form-group hidden">
                    <div class="row">
                        <div class="col-md-12">
                            <a class="btn btn-success" style="margin-bottom:10px" onclick="ShowPopup('@Url.Action("Create","ShipmentLine", new { masterid = Model.shipmentId })')"><i class="fa fa-plus"></i> Προσθήκη στοιχείου αποστολής</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </div>
    <div class="col-md-3">

    </div>
</div>



    <!--modal placeholder-->
    <div class="modal modal-primary fade" id="modalDefault">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>
@section Scripts{
      <script>
        var popup, dataTable;
        var entity = 'ShipmentLine';
        var apiurl = '/api/' + entity;

        $(document).ready(function () {
            dataTable = $('#grid').DataTable({
                "ajax": {
                    "url": apiurl + '?masterid=@Model.shipmentId',
                    "type": 'GET',
                    "datatype": 'json'
                },
                "columns": [
                    { "data": "product.productCode" },
                    { "data": "qty" },
                    { "data": "qtyShipment" },
                    {
                        "data": "shipmentLineId",
                        "render": function (data) {
                            var btnEdit = "<a class='btn btn-default btn-xs' onclick=ShowPopup('/" + entity + "/Create/" + data + "')><i class='fa fa-pencil'></i></a>";
                            var btnDelete = "<a class='btn btn-danger btn-xs' style='margin-left:2px' onclick=Delete('" + data + "')><i class='fa fa-trash'></i></a>";
                            return ""; //btnEdit + btnDelete;
                        }
                    }
                ],
                "language": {
                    "emptyTable": "δε βρέθηκαν δεδομένα."
                },
                "lengthChange": false,
                "info": false,
                "searching": false,
                "paging": false,
            });
        });

        function ShowPopup(url) {
            var modalId = 'modalDefault';
            var modalPlaceholder = $('#' + modalId + ' .modal-dialog .modal-content');
            $.get(url)
                .done(function (response) {
                    modalPlaceholder.html(response);
                    popup = $('#' + modalId + '').modal({
                        keyboard: false,
                        backdrop: 'static'
                    });
                });
        }


        function SubmitAddEdit(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                var data = $(form).serializeJSON();
                data = JSON.stringify(data);
                $.ajax({
                    type: 'POST',
                    url: apiurl,
                    data: data,
                    contentType: 'application/json',
                    success: function (data) {
                        if (data.success) {
                            popup.modal('hide');
                            ShowMessage(data.message);
                            dataTable.ajax.reload();
                        } else {
                            ShowMessageError(data.message);
                        }
                    }
                });

            }
            return false;
        }

        function Delete(id) {
            swal({
                title: "Είστε βέβαιοι ότι θέλετε να γίνει Διαγραφή;",
                text: "Δεν θα μπορείτε να επαναφέρετε τα δεδομένα!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#dd4b39",
                confirmButtonText: "Ναι, διαγράψτε το!",
                closeOnConfirm: true
            }, function () {
                $.ajax({
                    type: 'DELETE',
                    url: apiurl + '/' + id,
                    success: function (data) {
                        if (data.success) {
                            ShowMessage(data.message);
                            dataTable.ajax.reload();
                        } else {
                            ShowMessageError(data.message);
                        }
                    }
                });
            });


        }

      </script>
}

