@model netcore.Models.Invent.Warehouse
@inject netcore.Data.ApplicationDbContext _context;

@{
    ViewData["Title"] = "Διαγραφή Αποθήκης";
    Layout = "~/Views/Shared/_AdminlteNetcoreDelete.cshtml";
    ViewData["EntityIcon"] = "fa fa-cubes";
    ViewData["DeleteInfo"] = "Η αποθήκη που έχει ήδη πραγματοποιήσει συναλλαγές (παραλαβή, αποστολή, παραγγελία μεταφοράς) δεν μπορεί να διαγραφεί.";
    netcore.Models.Invent.Receiving receiving = _context.Receiving.Where(x => x.warehouseId.Equals(Model.warehouseId)).FirstOrDefault();
    netcore.Models.Invent.Shipment shipment = _context.Shipment.Where(x => x.warehouseId.Equals(Model.warehouseId)).FirstOrDefault();
    netcore.Models.Invent.TransferOrder to = _context.TransferOrder.Where(x => x.warehouseIdFrom.Equals(Model.warehouseId) || x.warehouseIdTo.Equals(Model.warehouseId)).FirstOrDefault();
    ViewData["IsCanDeleted"] = false;
    if (receiving == null && shipment == null && to == null)
    {
        ViewData["IsCanDeleted"] = true;
    }
}


@Html.Partial("_StatusMessage", (string)ViewBag.StatusMessage)
<div>

    <div class="row">
        <div class="col-md-12">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="warehouseId" />
            <div class="row">
                <div class="col-md-12">
                    <small class="text-yellow"><i>Περίληψη</i></small>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group has-success">
                        <label asp-for="warehouseName" class="control-label"></label>
                        <input disabled asp-for="warehouseName" class="form-control" />
                        <span asp-validation-for="warehouseName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <textarea disabled asp-for="description" class="form-control" rows="3"></textarea>
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <small class="text-yellow"><i>Διεύθυνση</i></small>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group has-success">
                        <label asp-for="street1" class="control-label"></label>
                        <input disabled asp-for="street1" class="form-control" />
                        <span asp-validation-for="street1" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="street2" class="control-label"></label>
                        <input disabled asp-for="street2" class="form-control" />
                        <span asp-validation-for="street2" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="city" class="control-label"></label>
                        <input disabled asp-for="city" class="form-control" />
                        <span asp-validation-for="city" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="province" class="control-label"></label>
                        <input disabled asp-for="province" class="form-control" />
                        <span asp-validation-for="province" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="country" class="control-label"></label>
                        <input disabled asp-for="country" class="form-control" />
                        <span asp-validation-for="country" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <small class="text-yellow"><i>Property</i></small>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="branchId" class="control-label">Υποκατάστημα</label>
                        <select disabled asp-for="branchId" class="form-control select2" asp-items="ViewBag.branchId"></select>
                        <span asp-validation-for="branchId" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
