@model netcore.Models.Invent.City

@{
    ViewData["Title"] = "Δημιουργία";
    Layout = "~/Views/Shared/_AdminlteNetcoreCreate.cshtml";
    ViewData["EntityIcon"] = "fa fa-building-o";
    ViewData["CreateInfo"] = "Οι Πόλεις, είναι σημαντική λίστα γιατί εκτός από την γεωγραφική πληροφορία περιέχουν και τον Φ.Π.Α.";
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CityName" class="control-label"></label>
                <input asp-for="CityName" class="form-control" />
                <span asp-validation-for="CityName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductVAT" class="control-label"></label>
                <input asp-for="ProductVAT" class="form-control" />
                <span asp-validation-for="ProductVAT" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
